.container{
    



padding: 2rem;
margin: 2rem;

}

.about{
display: flex;
justify-content: space-evenly;
margin-bottom: 1rem;
font-size: .9rem;
font-weight: lighter;
text-align: center;
align-items: center;
justify-self: center ;
max-width: 500px;


}
.pic{
width: 50vw;
object-fit: fill;

}
.name{
    margin-bottom: 1rem;
align-self: center;
text-align: center;
font-size: 3rem;

font-weight: 900;
display: inline;
text-transform: capitalize;

}

.holdNutr{
    display: flex;
    justify-content: space-evenly;
    font-size: .9rem;
    font-weight: lighter;
    text-align: center;
    align-items: center;
    justify-self: center ;
    max-width: 500px;
    margin-top: 2rem;
}

.discription{
    
    margin-top: 1rem;
    font-size: .9rem;
    font-style: italic;
   justify-content: space-evenly;
   margin-bottom: 1rem;
  

}

.imageHolder{
    display:flex;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

.recipe{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


.steps{
    margin-left: 2rem;
    max-width: 500px;
}
.link{
    margin-left: 10rem;
    
   


}

.Add_Button{
    text-decoration: none;
    position: sticky;
    float: right;
    margin: 1rem;
    top:2rem;
    right:5vw;
    background-color: #2568b0;
    color: black;
    padding: 1rem;
    font-size: larger;
    border-radius: 2rem;
    outline: auto;

font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
;}


.Add_Button:hover{
background-color: #174475;
}
.info_button{
     text-decoration: none;
    position: sticky;
    float: right;
    margin: 1rem;
    top:2rem;
    right:15vw;
    background-color: #2568b0;
    color: black;
    padding: 1rem;
    font-size: larger;
    border-radius: 2rem;
    outline: auto;

font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.info_button:hover{
background-color: #174475;
}