@import url("http://fonts.googleapis.com/css?family=Quicksand&display=swap");


*{
  box-sizing: border-box;
  font-family: "Quicksand", "Helvetica Neue", "Helvetica";


}

.App{
  background: rgba(0, 0, 0, 0.908);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: rgb(255, 255, 255);
}